*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.col{
    width: 200px;
    height: 200px;
    background-color: steelblue;
    margin: 10px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}
.mon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
}